Repository IBM/hello-carbon-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --workspace hello-carbon11-vue3 lint, npm run --workspace hello-carbon-nuxt lint, npm run --workspace hello-carbon-vue3 lint

Update README.md
  README.md
Due: none

chore: update deployment URLs and adjust Vite build paths
  apps/hello-carbon-vue3/package.json
  apps/hello-carbon11-vue3/package.json
  common/ghpages/index.html
Due: none

chore: add dark mode support for Carbon logo and update deployment workflows
  .github/workflows/pages-build.deployment.yml
  README.md
  docs/carbon-light.svg
Due: none

chore: reformat Carbon SVG for improved readability and consistency
  docs/carbon-light.svg
Due: none

chore: update deployment URLs and adjust Vite build paths (#242)
  .github/workflows/pages-build.deployment.yml
  README.md
  apps/hello-carbon-vue3/package.json
  apps/hello-carbon11-vue3/package.json
  common/ghpages/index.html
  docs/carbon-light.svg
Due: none

Update .gitattributes
  .gitattributes
Due: none

chore: update GitHub workflows to include package-lock.json in paths
  .github/workflows/app-carbon11-ci.yml
  .github/workflows/app-carbon11-e2e.yml
  .github/workflows/app-nuxt-ci.yml
  .github/workflows/app-nuxt-e2e.yml
  .github/workflows/app-vue3-ci.yml
  .github/workflows/app-vue3-e2e.yml
Due: none

chore: update GitHub workflows to include package-lock.json in paths (#247)
  .github/workflows/app-carbon11-ci.yml
  .github/workflows/app-carbon11-e2e.yml
  .github/workflows/app-nuxt-ci.yml
  .github/workflows/app-nuxt-e2e.yml
  .github/workflows/app-vue3-ci.yml
  .github/workflows/app-vue3-e2e.yml
Due: none

feat: introduce API caching, error handling, and new views
  apps/hello-carbon-vue3/README.md
  apps/hello-carbon-vue3/docs/components-review.md
  apps/hello-carbon-vue3/docs/feature-sliced.md
  apps/hello-carbon-vue3/src/composables/useAnimalCrossingData.ts
  apps/hello-carbon-vue3/src/main.js
  apps/hello-carbon-vue3/src/router/index.js
  apps/hello-carbon-vue3/src/stores/bugs.js
  apps/hello-carbon-vue3/src/stores/fish.js
  apps/hello-carbon-vue3/src/stores/songs.js
  apps/hello-carbon-vue3/src/stores/villagers.js
  apps/hello-carbon-vue3/src/views/BugsView.vue
  apps/hello-carbon-vue3/src/views/ErrorView.vue
  apps/hello-carbon-vue3/src/views/FishView.vue
  apps/hello-carbon-vue3/src/views/HomeView.vue
  apps/hello-carbon-vue3/src/views/NotFoundView.vue
  apps/hello-carbon-vue3/src/views/VillagersView.vue
Due: npm run --workspace hello-carbon-vue3 lint

fix: lock file
  apps/hello-carbon11-vue3/package.json
Due: none

fix: lock file
  package-lock.json
Due: none

chore: rebase
  apps/hello-carbon-nuxt/cypress/support/e2e.ts
  apps/hello-carbon-vue3/package.json
  apps/hello-carbon11-vue3/cypress/support/commands.js
  apps/hello-carbon11-vue3/cypress/support/e2e.js
  apps/hello-carbon11-vue3/package.json
  apps/hello-carbon11-vue3/src/App.vue
  apps/hello-carbon11-vue3/src/components/BlurImage.vue
  apps/hello-carbon11-vue3/src/components/Bug/Card.vue
  apps/hello-carbon11-vue3/src/components/Fish/Row.vue
  apps/hello-carbon11-vue3/src/components/HeaderPanels/LanguageSwitcher.vue
  apps/hello-carbon11-vue3/src/components/HeaderPanels/OtherApps.vue
  apps/hello-carbon11-vue3/src/components/HeaderPanels/ThemeSelector.vue
  apps/hello-carbon11-vue3/src/components/Song/Card.vue
  apps/hello-carbon11-vue3/src/components/TheHeader.vue
Due: npm run --workspace hello-carbon11-vue3 lint, npm run --workspace hello-carbon-nuxt lint

chore: rebase
  apps/hello-carbon-vue3/package.json
Due: none

refactor: remove unused icon components and migrate hobby implementation to lazy-loaded component
  apps/hello-carbon-vue3/package.json
  apps/hello-carbon-vue3/postcss.config.js
  apps/hello-carbon-vue3/src/components/AsyncVillagerHobby.ts
  apps/hello-carbon-vue3/src/components/icons/IconBouncing.vue
  apps/hello-carbon-vue3/src/components/icons/IconFlashing.vue
  apps/hello-carbon-vue3/src/components/icons/IconGrowing.vue
  apps/hello-carbon-vue3/src/components/icons/IconMusic.vue
  apps/hello-carbon-vue3/src/components/icons/IconReading.vue
  apps/hello-carbon-vue3/src/components/icons/IconRunning.vue
  apps/hello-carbon-vue3/src/components/icons/IconTrebleClef.vue
  apps/hello-carbon-vue3/src/types/carbon-icons-vue.d.ts
  apps/hello-carbon-vue3/src/views/VillagersView.vue
  apps/hello-carbon-vue3/tsconfig.json
  apps/hello-carbon-vue3/vite.config.ts
Due: npm run --workspace hello-carbon-vue3 lint

refactor: the Junie agent- improve type safety and modularity across app
  apps/hello-carbon-vue3/package.json
  apps/hello-carbon-vue3/src/components/BugCard.vue
  apps/hello-carbon-vue3/src/components/FishRow.vue
  apps/hello-carbon-vue3/src/components/MobileTablePagination.vue
  apps/hello-carbon-vue3/src/components/SongCard.vue
  apps/hello-carbon-vue3/src/components/TheHeader.vue
  apps/hello-carbon-vue3/src/components/Theme/Selector.vue
  apps/hello-carbon-vue3/src/components/VillagerCard.vue
  apps/hello-carbon-vue3/src/components/VillagerHobby.vue
  apps/hello-carbon-vue3/src/composables/useAnimalCrossingData.ts
  apps/hello-carbon-vue3/src/composables/useAsyncLoad.ts
  apps/hello-carbon-vue3/src/composables/useI18nName.ts
  apps/hello-carbon-vue3/src/main.ts
  apps/hello-carbon-vue3/src/stores/bugs.ts
  apps/hello-carbon-vue3/src/stores/fish.ts
  apps/hello-carbon-vue3/src/stores/songs.ts
  apps/hello-carbon-vue3/src/stores/villagers.ts
  apps/hello-carbon-vue3/src/types/bugs.ts
  apps/hello-carbon-vue3/src/types/carbon-icons-vue.d.ts
  apps/hello-carbon-vue3/src/types/fish.ts
  apps/hello-carbon-vue3/src/types/groups.ts
  apps/hello-carbon-vue3/src/types/songs.ts
  apps/hello-carbon-vue3/src/types/ui.ts
  apps/hello-carbon-vue3/src/types/villagers.ts
  apps/hello-carbon-vue3/src/views/BugsView.vue
  apps/hello-carbon-vue3/src/views/FishView.vue
  apps/hello-carbon-vue3/src/views/HomeView.vue
  apps/hello-carbon-vue3/src/views/VillagersView.vue
  apps/hello-carbon-vue3/tsconfig.json
Due: npm run --workspace hello-carbon-vue3 lint

refactor: agent Junie - modularize rarity handling with RarityStars and StepIcon components
  apps/hello-carbon-vue3/src/components/FishRow.vue
  apps/hello-carbon-vue3/src/components/RarityStars.vue
  apps/hello-carbon-vue3/src/components/StepIcon.vue
  apps/hello-carbon-vue3/src/composables/useRarity.ts
  apps/hello-carbon-vue3/src/views/BuildABugView.vue
Due: npm run --workspace hello-carbon-vue3 lint

refactor: agent Junie - modularize shared components and composables for improved reusability
  apps/hello-carbon-vue3/src/components/AuthStatusIcon.vue
  apps/hello-carbon-vue3/src/components/BugCard.vue
  apps/hello-carbon-vue3/src/components/FishRow.vue
  apps/hello-carbon-vue3/src/components/LocationIconByWater.vue
  apps/hello-carbon-vue3/src/components/TheHeader.vue
  apps/hello-carbon-vue3/src/components/ToggleVisibilityIcon.vue
  apps/hello-carbon-vue3/src/composables/useArrayPagination.ts
  apps/hello-carbon-vue3/src/composables/useDebouncedSearch.ts
  apps/hello-carbon-vue3/src/composables/useRarity.ts
  apps/hello-carbon-vue3/src/views/FishView.vue
Due: npm run --workspace hello-carbon-vue3 lint

refactor: update e2e
  apps/hello-carbon-vue3/cypress.config.ts
  apps/hello-carbon-vue3/cypress/e2e/smoke.cy.ts
Due: npm run --workspace hello-carbon-vue3 lint

refactor: rebase
  apps/hello-carbon-vue3/package.json
  package-lock.json
Due: none

chore: update @carbon dependencies and adjust package versions
  apps/hello-carbon-nuxt/package.json
  apps/hello-carbon-vue3/package.json
  apps/hello-carbon-vue3/src/types/language.ts
  apps/hello-carbon-vue3/src/types/villagers.ts
  apps/hello-carbon11-vue3/package.json
  package-lock.json
  package.json
Due: npm run --workspace hello-carbon-vue3 lint

chore: upgrade dependencies in package-lock and adjust peer settings
  apps/hello-carbon-nuxt/package.json
  package-lock.json
Due: none

Delete .github/dependabot.yml [skip ci]
  .github/dependabot.yml
Due: none

Update greetings.yml
  .github/workflows/greetings.yml
Due: none

chore: update README for monorepo. Fixes #257
  README.md
  apps/hello-carbon-nuxt/README.md
  apps/hello-carbon-vue3/.nvmrc
  apps/hello-carbon-vue3/README.md
  apps/hello-carbon11-vue3/README.md
Due: none

chore: update README for monorepo. Fixes #257 (#316)
  README.md
  apps/hello-carbon-nuxt/README.md
  apps/hello-carbon-vue3/.nvmrc
  apps/hello-carbon-vue3/README.md
  apps/hello-carbon11-vue3/README.md
Due: none

Path conditions:
  npm run --workspace hello-carbon11-vue3 lint: any of: apps/hello-carbon11-vue3/**/*.{js,ts,mjs,cjs,jsx,vue}
  npm run --workspace hello-carbon-nuxt lint: any of: apps/hello-carbon-nuxt/**/*.{js,ts,mjs,cjs,jsx,vue}
  npm run --workspace hello-carbon-vue3 lint: any of: apps/hello-carbon-vue3/**/*.{js,ts,mjs,cjs,jsx,vue}
